<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Texas Hold'em </title>
</head>
<body bgcolor="#99CC30">
<hr>
<div style="text-align: center;">
        <span style="font-family: Arial; font-size: xx-large; color: #6C6C6C; ">
            <p th:text="${welcome}"></p><br>
                        <form method="post" th:action="@{/viewPokerGame}" th:object="${userRequest}" >
                            <!--   TODO wyżej zostało zmienione action z /start-->
                           <input  type="text" th:field="*{name}" placeholder="your name">
<!--&lt;!&ndash;                            dodane&ndash;&gt;-->
<!--                            <input type="hidden" th:name="userRequest" th:value="${userRequest}">-->
<!--&lt;!&ndash;                            dodane&ndash;&gt;-->
                            <input  type="text" th:field="*{noOfBots}" placeholder="number of bots"><br>
                            <input type="submit" th:value="Start" name="start" style="width: 150px; background-color: cornflowerblue">
                        </form>
                        <hr>

            <p th:if="${message}!=null" th:text="${message}"></p>


        </span>
</div>
</body>
</html>